body{
    background-image: url(../imagens/gatitusbebes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Allura', monospace;
    color: #020202;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    
}

.cartao {
    background-color: #fff0f5;
    width: 370px;
    border: 2px solid #f17ea1;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cartao .minhas-informacoes img {
    width: 96px;
    height: 96px;
    border: 2px solid #f17ea1;
    border-radius: 50px;
}

.cartao .minhas-informacoes .nome {
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo {
    font-size: 22px;
    color: #94969d;
}

.cartao .conteudo {
    margin-top: 15px;
}

.cartao .abas {
    display: flex;
    
}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img {
    width: 55px;

}

.cartao .abas .aba.selecionado {
    background-color: #fad0dd;
}

.cartao .informacoes-abas {
    background-color: #fad0dd;
}

.cartao .abas .aba:hover {
    background-color: #ffe4e1;
}

.informacoes-abas .informacao {
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao {
    font-size: 23px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao::-webkit-scrollbar{
    background-color: #fff0f5;
    border-radius: 10px;
    overflow: hidden;
    width: 10px;
}

.informacoes-abas .descricao::-webkit-scrollbar-thumb{
    background-color: #f17ea1;
    border-radius: 10px;
}

.informacoes-abas .descricao span {
    color: #8fbc8f;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais::-webkit-scrollbar {
    background-color: #fff0f5;
    border-radius: 10px;
    overflow: hidden;
    width: 10px;
}

.redes-sociais::-webkit-scrollbar-thumb {
    background-color: #f17ea1;
    border-radius: 10px;
}

.redes-sociais li a {
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a {
    opacity: 0.8;
}




.redes-sociais .instagram {
    background-color: #c13584;
}






